footer {
	background-color: $base;
	position: relative;
	.TopFooterBlock{
		padding: 5rem 1.5rem 3rem;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		@media(min-width: 768px){
			padding: 4rem 0;
		}
		.LogoGrid{
			flex-basis: 100%;
			margin-top: 0;
			@media(min-width: 768px){
				flex-basis: 50%;
			}
			@media(min-width: 1024px){
				flex-basis: 22%;
			}
		}
		.EmailGrid{
			padding-left: 0rem;
			flex-basis: 100%;
			margin-top: 2rem;
			@media(min-width: 768px){
				flex-basis: 50%;
				padding-left: 0rem;
			}
			@media(min-width: 1024px){
				flex-basis: 28%;
				padding-left: 2.5rem;
				margin-top: 0rem;
			}
		}
		.LinkGrid,.NewsletterGrid{
			flex-basis: 100%;
			margin-top: 3rem;
			@media(min-width: 768px){
				flex-basis: 50%;
				margin-top: 2rem;
			}
			@media(min-width: 1024px){
				flex-basis: 25%;
				margin-top: 0rem;
			}
		}
		.logo{
			display: block;
			padding-right: 0%;
			@media(min-width: 768px){
				padding-right: 5%;
			}
			img{
				width: auto;
				display: block;
				@media(min-width: 768px){
					width: 100%;
				}
			}
		}
		.Grids{
			h6{
				font-weight: 600;
				color: $white;
				font-size: 1.6rem;
				margin-bottom: 2.2rem;
				font-family: $primaryFont;
			}
			p{
				font-size: 1.3rem;
				line-height: 1.7;
				color: rgba($white, 0.8);
				@media(min-width: 1024px){
					font-size: 1.1rem;
				}
				@media(min-width: 1280px){
					font-size: 1.3rem;
				}
				a{
					text-decoration: none;
					color: rgba($white, 0.8);
					transition: 0.3s all;
					&:hover{
						color: $orange;
					}
				}
			}
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				flex-wrap: wrap;
				/*margin-top: -1rem;*/
				li{
					flex-basis: 50%;
					margin-bottom: 1rem;
					a{
						font-size: 1.3rem;
						text-decoration: none;
						color: rgba($white, 0.8);
						transition: 0.3s all;
						@media(min-width: 1024px){
							font-size: 1.1rem;
						}
						@media(min-width: 1280px){
							font-size: 1.3rem;
						}
						&:hover{
							color: $orange;
						}
					}
				}
			}
			#wpcf7-f447-o2{
				margin-bottom: 2rem;
				@media(min-width: 767px){
					margin-bottom: 0;
				}
			}
			form{
				display: flex;
				align-items: center;
				justify-content: flex-start;
				position: relative;
				.es-field-wrap{
					margin-bottom: 0;
					flex-basis: 80%;
				}
				.wpcf7-not-valid-tip{
					position: absolute;
					top: -38px;
					display: none;
				}
				.ajax-loader{
					position: absolute;
					right: 0;
					margin: 0;
					top: -28px;
				}
				.wpcf7-response-output{
					position: absolute;
					bottom: -5.5rem;
					font-size: 12px;
					color: $white;
					font-family: $primaryFont;
					border-color: $orange;
					display: none;
					@media(min-width: 767px){
						bottom: -3rem;
					}
				}
				input[type="email"]{
					padding: 1.45rem;
					font-size: 1.3rem;
					border: none;
					background-color: $lightgrey;
					width: 100%;
					border-radius: 0;
					font-family: $primaryFont;
					@media(max-width: 768px){
						width: 100%;
					}
					&:focus{
						outline: none;
					}
				}
				input[type="submit"]{
					background: url(../img/submit.svg) 50% no-repeat, linear-gradient(270deg, #FBE10E -90%, #F3763E 35%) 0% 0% no-repeat padding-box;
					cursor: pointer;
					border: none;
					position: absolute;
					right: 0;
					font-size: 0;
					/*width: 40px;
					height: 38px;*/
					padding: 24px 25px;
					transition: 0.3s all;
					margin: 0;
					border-radius: 0;
					top: 0;
					&:hover{
						background: url(../img/submit.svg) 50% no-repeat, linear-gradient(270deg, #FBE10E -90%, #F3763E 75%) 0% 0% no-repeat padding-box;
					}
					&:focus{
						outline: none;
					}
					&:before{
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
					}
				}
			}
		}
	}
	.BottomFooter{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1.5rem 0;
		border-top: thin solid rgba($white, 0.25);
		p{
			text-align: center;
			font-size: 1.4rem;
			color: rgba($white, 0.8);
			margin-bottom: 0;
			line-height: 1;
		}
	}
}


.pum-container{
	border-radius: 0 !important;
	padding: 2rem !important;
	border: none !important;
	box-shadow: unset !important;
	height: 275px !important;
	border-radius: 5px !important;
	@media(max-width: 767px){
		height: auto !important;
	}
	.pum-close{
		right: 1rem !important;
		top: 1rem !important;
		color: $orange !important;
		background-color: transparent !important;
		box-shadow: unset !important;
		font-size: 40px !important;
		&:focus{
			outline: none !important;
		}
	}
	.popmake-content{
		display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;
	    height: 100%;
		.tick{
			margin: 0 auto 2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 85px;
			height: 85px;
			background: transparent linear-gradient(89deg, #F3763E 0%, #FBE10E 100%) 0% 0% no-repeat padding-box;
			border-radius: 50%;
		}
		h2{
			font-size: 2rem;
			font-family: $primaryFont;
			color: $base;
			font-weight: 600;
			text-align: center;
			margin-bottom: 0;
			span{
				font-weight: 400;
			}
			@media(min-width: 1024px){
				font-size: 3.5rem;
			}
		}
	}
}


html.pum-open.pum-open-overlay.pum-open-scrollable body>[aria-hidden]{
	padding-right: 0 !important;
}