.HomeBanner{
	position: relative;
	img{
		display: block;
		width: 100%;
	}
	.BannerContent{
		position: absolute;
		top: 43%;
		width: 100%;
		@media(max-width: 767px){
			top: 43%;
		}
		@media(min-width: 768px){
			top: 30%;
		}
		@media(min-width: 1024px){
			top: 43%;
		}
		.BannerText{
			text-align: center;
			display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-direction: column;
		    font-family: $mediumFont;
		    @media(max-width: 767px){
		    	max-width: 320px;
		    	margin: 0 auto;
		    	align-items: center;
		    	justify-content: center;
		    	text-align: center;
		    }
		    .radiancelogo{
		    	max-width: 75%;
		    	width: auto;
		    	margin-bottom: 1.5rem;
		    	@media(min-width: 768px){
		    		max-width: 50%;
		    	}
		    	@media(min-width: 1280px){
		    		max-width: 75%;
		    	}
		    }
			h1{
				font-size: 3rem;
				color: $white;
				padding-right: 1.5rem;
				padding-bottom: 0.35rem;
				text-transform: uppercase;
				font-family: 'Metropolis-Bold';
				@media(max-width: 768px){
					font-size: 1.8rem;
				}
				&:after{
					@media(max-width: 768px){
			            height: 2px;
			            width: 100%;
			        }
				}
				&:before{
					@media(max-width: 767px){
				        width: 7px;
				        height: 7px;
				        right: 0%;
				    }
				}
				span{
					text-transform: lowercase;
				}
			}
			a{
				text-transform: uppercase;
				@media(max-width: 767px){
					padding: 1rem 2rem 0.7rem;
				}
			}
			h4{
				font-size: 2.4rem;
				color: $white;
				@media(max-width: 767px){
					font-size: 1.7rem;
					font-weight: 600;
				}
			}
		}
	}
	.RadianceBanner{
		position: absolute;
		bottom: 0%;
		width: 100%;
		height: 100px;
	}
	&.InsideBanner{
		.BannerContent{
			.BannerText{
				@media(max-width: 767px){
			    	max-width: 100%;
			    	margin: 0 auto;
			    	align-items: center;
			    	justify-content: center;
			    	text-align: left;
			    }
			}
		}
	}
	&.InsideBigBanner{
		.BannerContent{
			top: 43%;
			@media(max-width: 767px){
				top: 43%;
			}
			@media(min-width: 768px){
				top: 40%;
			}
			@media(min-width: 1024px){
				top: 43%;
			}
		}
	}
	.slick-slide{
		&:first-child{
			.BannerContent{
				top: 46%;
				@media(min-width: 400px){
					top: 46.5%;
				}
				@media(min-width: 768px){
					top: 35%;
				}
				@media(min-width: 1024px){
					top: 43%;
				}
				@media(min-width: 1280px){
					top: 45%;
				}
				@media(min-width: 1440px){
					top: 42%;
				}
			}
		}
		&:nth-child(2){
			.BannerContent{
				top: 39%;
				
				@media(min-width: 768px){
					top: 30%;
				}
				@media(min-width: 1024px){
					top: 35%;
				}
				@media(min-width: 1280px){
					top: 41%;
				}
				@media(min-width: 1440px){
					top: 40%;
				}
			}
		}
		&:last-child{
			.BannerContent{
				top: 3% !important;
				@media (min-width: 768px){
					top: 13% !important;
				}
				@media (min-width: 1024px){
					top: 22% !important;
				}
				@media (min-width: 1280px){
					top: 30% !important;
				}
				@media (min-width: 1440px){
					top: 28% !important;
				}
				.BannerText{
					text-align: left !important;
					align-items: flex-start !important;
					@media(max-width: 767px){
						max-width: 100%;
						align-items: center !important;
					}
					@media(min-width: 768px){
						padding-left: 5rem;
					}
					@media(min-width: 1024px){
						padding-left: 5rem;
					}
					@media(min-width: 1280px){
						padding-left: 0;
					}
					h1{
						color: $base;
						font-weight: 400;
						font-family: $primaryFont;
						text-transform: unset;
						@media (max-width: 767px){
							font-size: 1.65rem;
						}
						@media(min-width: 1024px){
							font-size: 2.4rem;
						}
						@media(min-width: 1280px){
							font-size: 3rem;
						}
					}
				}
			}
		}
	}
	.slick-arrow{
    	width: 25px;
    	height: 47px;
    	z-index: 99;

    	@media (max-width: 767px){
    		background-size: 50% !important;
    		height: 25px;
    	}
    	@media (min-width: 767px){
    		top: 43%;
    	}
    	@media (min-width: 1024px){
    		top: 50%;
    	}
    	&:before{
    		font-size: 0;
    	}
    	&.slick-prev{
    		background: url(../img/white-left.svg) no-repeat;
    		left: 35px;
    		@media (max-width: 767px){
    			left: 15px;
    		}
    	}
    	&.slick-next{
    		background: url(../img/white-right.svg) no-repeat;
    		right: 35px;
    		@media (max-width: 767px){
    			right: 10px;
    		}
    	}
    }
}