.left_image_right_content{
	padding: 0;
	@media(min-width: 1024px){
		padding: 7rem 0;
	}
	@media(min-width: 1280px){
		padding: 0;
	}
	.row{

		>div{
			align-self: center;
			@media(max-width: 768px){
				padding: 0 15px;
			}
			
			.contentWrap{
				max-width:100%;
				
				@media(min-width: 360px){
					margin: 0 auto;
					text-align: left;
					padding: 2rem 0rem;
				}
				@media(min-width: 480px){
					margin: 0 auto;
				}
				@media(min-width: 768px){
					margin-left:5%;
					max-width:514px;
					text-align: unset;
					padding: 0;
				}
				.row{
					>div{
						@media(max-width: 768px){
							padding: 0 15px;
						}
					}
				}
				h2{
					margin-bottom: 2rem;
					display: inline-block;
					@media(max-width: 400px){
						font-size: 2.8rem;
					}
					/*@media(max-width: 768px){
						font-size: 3rem;
					}*/
				}
				p{
					line-height: 1.8;
					margin-bottom: 2rem;
					&:last-child{
						margin-bottom: 0;
					}
				}
				a{
					color:$white;
					margin-top: 1rem;
					text-transform: uppercase;
					display: inline-block;
				}
				/*&.mr-5{
					padding: 2rem 0rem 4rem;
					@media(min-width: 768px){
						padding: 0;
					}
				}*/
				
				.IconContent{
					margin-top: 3rem;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					text-align: center;
					img{
						margin-bottom: 1.5rem;
					}
					h4{
						font-family: $semiBold;
						color: $base;
						font-size: 2rem;
					}
					p{
						color: $base;
					}
				}
				.LeftIconRightContent{
					ul{
						padding: 0;
						margin: 1rem 0 0;
						list-style: none;
						@media(min-width: 768px){
							margin: 3rem 0 0;
						}
						li{
							display: block;
							align-items: flex-start;
							justify-content: flex-start;
							flex-wrap: wrap;
							margin-bottom: 2rem;
							@media(min-width: 768px){
								display: flex;
								margin-bottom: 3rem;
							}
							&:last-child{
								margin-bottom: 0;
							}
							.Icon{
								background: url(../img/rectangle.svg) no-repeat;
							    background-size: cover;
							    width: 80px;
							    height: 80px;
							    display: -ms-flexbox;
							    display: flex;
							    -ms-flex-align: center;
							    align-items: center;
							    -ms-flex-pack: center;
							    justify-content: center;
							    flex-basis: 80px;
							    margin-right: 1rem;
							    @media(min-width: 767px){
							    	width: 100px;
								    height: 100px;
								    flex-basis: 100px;
								    margin-right: 2rem;
							    }
							}
							.Content{
								flex-basis: 73%;
								margin-top: 1.5rem;
								@media(min-width: 768px){
									margin-top: 0;
								}
								h2{
									margin-bottom: 1rem;
									padding-bottom: 0;
									font-size: 2rem;
									font-family: $semiBold;
									color: $base;
								}
								p{
									line-height: 1.7;
								}
							}
						}
					}
				}
			}

		}
		.IpadView{
			@media(min-width: 768px){
				flex: 0 0 100%;
    			max-width: 100%;
			}
			@media(min-width: 1024px){
				flex: 0 0 50%;
    			max-width: 50%;
			}
			.contentWrap{
				max-width: 100%;
				margin-left: 0;
				padding: 3rem 0rem 4rem;
				@media(min-width: 768px){
					padding: 5rem 1.5rem;
				}
				@media(min-width: 1024px){
					margin-left:5%;
					max-width:514px;
					text-align: unset;
					padding: 0;
				}
			}
			.imgWrap{
				padding: 0rem;
				@media(min-width: 768px){
					margin:0 -15px;
					padding: 0;
				}
		      img{
		      	width:100%;
		      	display: block;
		      }
			}
		}
		.IpadRemoved{
			@media(min-width: 768px){
				flex: 0 0 100%;
    			max-width: 100%;
			}
			@media(min-width: 1024px){
				flex: 0 0 50%;
    			max-width: 50%;
			}
			.imgWrap{
				margin: 0 15px;
				@media(min-width: 768px){
					margin: 0;
				}
				img{
					width: 100%;
				}
			}
		}
		.IpadLeftView{
			@media(min-width: 768px){
				flex: 0 0 100%;
    			max-width: 100%;
			}
			@media(min-width: 1024px){
				flex: 0 0 50%;
    			max-width: 50%;
			}
			.contentWrap{
				max-width: 100%;
				margin-left: 0;
				padding: 3rem 1.5rem 3rem;
				@media(min-width: 768px){
					padding: 5rem 1.5rem 5rem;
				}
				@media(min-width: 1024px){
					margin-left:5%;
					max-width:514px;
					text-align: unset;
					padding: 0;
				}
				@media(min-width: 1280px){
					max-width:575px;
					margin-left:10%;
				}
				@media(min-width: 1440px){
					max-width:100%;
					margin-left:10%;
				}
				.LeftIconRightContent{
					ul{
						li{
							.Content{
								flex-basis: 73%;
								@media(min-width: 768px){
									flex-basis: 80%;
								}
								@media(min-width: 1024px){
									flex-basis: 73%;
								}
								@media(min-width: 1280px){
									flex-basis: 77%;
								}
								@media(min-width: 1440px){
									flex-basis: 76%;
								}
							}
						}
					}
				}
			}
		}
		.IpadDesktop{
			.imgWrap{
				margin: 0 -15px;
				img{
					width: 100%;
					display: block;
				}
			}
		}
	}
}


.ContainerLeftImgRightContent{
	@media(max-width: 767px){
		margin-bottom: 5rem;
	}
	.imgWrap{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
		flex-direction: column;
		@media(max-width: 767px){
			display: block;
			text-align: center;
		}
		.logobox{
			display: block;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
			margin-top: 0rem;
			@media(min-width: 768px){
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				margin-top: 2rem;
			}
			@media(min-width: 1024px){
				display: flex;
				margin-top: 3rem;
				align-items: center;
				flex-direction: unset;
			}
		}
	}
	.contentWrap{
		@media(max-width: 767px){
			margin-top: 3rem;
		}
		h2{
			margin-bottom: 2rem;
			display: inline-block;
			@media(max-width: 400px){
				font-size: 2.8rem;
			}
			/*@media(max-width: 768px){
				font-size: 3rem;
			}*/
		}
		p{
			line-height: 1.8;
			margin-bottom: 2rem;
			&:last-child{
				margin-bottom: 0;
			}
		}
		a{
			color:$orange;
			/*margin-top: 1rem;*/
			/*text-transform: uppercase;*/
			display: inline-block;
		}
	}
}



.RightElementLeftContent{
	padding-top: 5rem;
	padding-bottom: 5rem;
	/*padding-bottom: 8rem;*/
	margin-top: 0rem;
	position: relative;
	z-index: 1;
	@media(min-width: 768px){
		padding-top: 5rem;
		padding-bottom: 5rem;
		margin-top: 0rem;
	}
	@media(min-width: 1280px){
		padding-top: 8rem;
		padding-bottom: 0rem;
		margin-top: -5rem;
	}
	&:before{
		content: "";
		position: absolute;
		background-color: #FFF8F3;
		top: 0;
		width: 100%;
		height: 100%;
		left: 0;
		/*z-index: 9;*/
		@media(min-width: 1300px){
			width: 72%;
			height: 310px;
		}
		@media(min-width: 1900px){
			width: 65%;
			height: 310px;
		}
	}
	.LeftContentBlock{
		@media(max-width: 767px){
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text-align: center;
		}
		p{
			line-height: 1.7;
		}
	}
	.RightImg{
		display: flex;
		align-items: center;
		justify-content: center;
		@media(min-width: 768px){
			align-items: flex-end;
			justify-content: flex-end;
		}
		img{
			margin-top: 1.5rem;
			@media(min-width: 768px){
				margin-top: 3rem;
			}
		}
	}
}


.ContainerLeftImageRightContent{
	.Topheading{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1rem;
		@media(min-width: 768px){
			margin-bottom: 2rem;
		}
		@media(min-width: 1024px){
			margin-bottom: 3rem;
		}
	}
	.LeftImgRightContent{
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		flex-wrap: wrap;
		box-shadow: 0px 0px 20px #0000001A;

	    background-size: auto !important;
	    background-position-x: left !important;	
	    background-size: 0 !important;

	    @media(min-width: 1280px){
	    	background-size: 50% !important;
	    }
		.LeftImg{
			width: 100%;
			@media(min-width: 1280px){
				display: none;
			}
			img{
				width: 100%;
				display: block;
			}
		}
		.RightContent{
			flex-basis: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			height: 100%;
			flex-direction: column;
			padding: 3rem 1.5rem;
			@media(min-width: 1024px){
				flex-basis: 100%;
				padding: 3rem 2rem 3rem 2rem;
			}
			@media(min-width: 1280px){
				flex-basis: 50%;
				padding: 4rem 4rem 4rem 5rem;
			}
			p{
				line-height: 1.7;
				&:last-child{
					margin-bottom :0;
				}
			}
			h4{
				font-family: $semiBold;
				font-size: 2.2rem;
				color: $base;
				margin-top: 1rem;
				margin-bottom: 1.1rem;
			}
		}
	}
}