.Section {
	padding-top: 5rem;
	padding-bottom: 5rem;
	@media screen and (min-width: 768px) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	@media screen and (min-width: 1024px) {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}
	&.Continue {
		padding-bottom: 0;
	}
	&.InContinue {
		padding-top: 0;
	}
}


.XtraSmallContainer{
	max-width: 100%;
	margin: 0 auto;
	@media (min-width: 768px) {
		max-width: 800px;
	}
}

.SmallContainer{
	max-width: 100%;
	margin: 0 auto;
	@media (min-width: 768px) {
		max-width: 1050px;
	}
}

.mb5{
	margin-bottom: 2.5rem;
	@media (min-width: 768px) {
		margin-bottom: 5rem;
	}
}