.ContactUsSection{
	padding-top: 5rem;
	padding-bottom: 5rem;
	position: relative;
	@media(min-width: 768px){
		padding-bottom: 8rem;
	}
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 50%;
		top: 0;
		left: 0;
		background-color: rgba(254,240,231,0.5);
    	z-index: 0;
	}
	.ContactAddress{
		display: flex;
		align-items: inherit;
		justify-content: flex-start;
		flex-wrap: wrap;
		box-shadow: 0px 5px 10px #0000001A;
		background-color: $white;
		.FormBlock{
			flex-basis: 100%;
			padding: 2rem;
			background-color: $white;
			@media(min-width: 768px){
				flex-basis: 100%;
				padding: 5rem;
			}
			@media(min-width: 1024px){
				flex-basis: 63%;
			}
			@media(min-width: 1280px){
				flex-basis: 65%;
			}
			h6{
				font-size: 1.6rem;
				color: $base;
				font-family: $secondaryFont;
			}
			p{
				margin-bottom: 0.5rem;
			}
			form{
				label.error{
	    			margin-bottom: 2rem;
	    			color: #dc3232;
	    			font-size: 1em;
	    			margin: 1rem 0 0;
				}
				.wpcf7-response-output{
					display: none;
				}
				label{
					width: 100%;
					display: block;
					color: $base;
					margin-top: 3.5rem;
					font-size: 1.6rem;
					font-family: $primaryFont;
				}
				select,input[type="text"],input[type="email"],input[type="tel"],textarea{
					width: 100%;
					padding: 1rem 0;
					background-color: transparent;
					border: none;
					color: $base;
					border-bottom: thin solid rgba($grey, 0.5);
					border-radius: 0;
					font-size: 1.6rem;
					font-family: $primaryFont;
					&:focus{
						outline: none;
					}
				}
				select{
					background-image: url(../img/arw-down.svg);
					background-position: right;
					background-size: 2.5%;
					background-repeat: no-repeat;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					-webkit-appearance: none;
					-moz-appearance: none;
				}
				input[type="submit"]{
					font-family: $primaryFont;
					position: relative;
					border: none;
					background: linear-gradient(270deg, #FBE10E -90%, #F3763E 35%) 0% 0% no-repeat padding-box;
				    padding-bottom: 0;
				    padding: 1rem 4rem 0.90rem;
				    transition: background .5s linear;
				    color: #fff;
				    font-weight: 600;
				    font-size: 1.6rem;
				    text-transform: uppercase;
				    margin-top: 3rem;
				    margin-bottom: 1rem;
				    cursor: pointer;
				    border-radius: 0;
				    @media(min-width: 768px){
				    	margin-top: 5rem;
				    	margin-bottom: 0rem;
				    	padding: 1.5rem 5rem 1.25rem;
				    }
				    &:focus{
				    	outline: none;
				    }
				    &:hover{
				    	background: transparent linear-gradient(91deg, #fbe10e, #f3763e) 0 0 no-repeat padding-box;
				    }
				}
			}
		}
		.AddressBlock{
			flex-basis: 100%;
			background: transparent linear-gradient(180deg, #F3763E 50%, #FBE10E 100%) 0% 0% no-repeat padding-box;
			padding: 3rem 2rem 20rem;
			position: relative;
			@media(min-width: 768px){
				flex-basis: 100%;
				padding: 5rem 3rem 5rem 5rem;
			}
			@media(min-width: 1024px){
				flex-basis: 35%;
			}
			&:before{
				content: "";
			    position: absolute;
			    width: 149px;
			    height: 257px;
			    right: 0;
			    left: 0;
			    margin: 0 auto;
			    bottom: -5.3rem;
			    background: url(../img/white-element.svg) no-repeat;
			    background-size: 100%;
			    transform: rotate(90deg);
			    @media(min-width: 768px){
			    	left: unset;
			    	transform: rotate(0deg);
			    	bottom: 7rem;
			    }
			    @media(min-width: 1024px){
			    	left: 0;
			    	transform: rotate(90deg);
			    	bottom: -5.3rem;
			    }
			}
			h2{
				color: $white;
			}
			h6{
				font-size: 1.8rem;
				color: $white;
				font-family: $semiBold;
			}
			p{
				margin-bottom: 2rem;
				color: $white;
				a{
					font-size: 1.6rem;
					text-decoration: none;
					color: $white;
					transition: 0.2s linear;
					&:hover{
						color: $base;
					}
				}
				&.phone{
					margin-bottom: 0rem;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}