.AccordianSection{
	.TopHeadingBottomAccordian{
		margin-bottom: 5rem;
		&:last-child{
			margin-bottom: 0;
		}
		h2{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			span{
				margin-right: 1.5rem;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100px;
				height: 100px;
				background: url(../img/rectangle.svg) no-repeat;
				background-size: cover;
				border-radius: 3px;
				padding: 1.5rem;
			}
		}
		.Accordians{
			ul {
			  list-style: none;
			  padding: 0;
			  margin: 0;
			  li{
				margin: 2rem 0;
				position: relative;
				&:last-child{
					margin-bottom: 0;
				}
				/*&:before{
				  	content: "";
				  	position: absolute;
				  	width: 100%;
				  	height: 0%;
				  	top: 0;
				  	left: 0;
				  	background: $gradientBg;
				  	z-index: -1;
				  	cursor: pointer;
				  	transition: 0.5s linear;
				}*/
				&:hover{
					/*&:before{
					  	height: 100%;
					}*/
					/*a{
						&.toggle {
							&:before{
								background-color: $white;
							}
							&:after{
								background-color: $white;
							}
						}
					}*/
				}
				a{
					position: relative;
			  		z-index: 9;
			  		&.toggle {
						width: 100%;
						display: block;
						background: rgba(254,240,231,0.5);
						color: $base;
						padding: 1.5rem 2.5rem;
						border-radius: 0;
						text-decoration: none;
						transition: 0.3s linear;
						position: relative;
						font-size: 2.2rem;
						line-height: 1;
						font-family: $primaryFont;
						@media (max-width: 767px){
							font-size: 1.6rem;
							padding-right: 3.5rem;
						}
						&:before{
							content: "";
							position: absolute;
							width: 25px;
							height: 2px;
							background-color: rgba($base, 0.75);
							top: 25px;
							right: 25px;
							transition: 0.3s linear;
							@media (max-width: 767px){
								right: 10px;
								width: 15px;
								top: 21px;
							}
						}
						&:after{
							content: "";
							position: absolute;
							width: 2px;
							height: 25px;
							background-color: rgba($base, 0.75);
							top: 14px;
							right: 37px;
							transition: 0.3s linear;
							@media (max-width: 767px){
								right: 16px;
								height: 15px;
							}
						}
						/*&:hover {
						  	color: $white;
						}*/					  			  
					}
			  		&.active{
			  			background: $gradientBg !important;
			  			color: $white !important;
			  			font-family: $semiBold;
			  			/*padding-bottom: 0;*/
			  			&:before{
							background-color: $white !important;
						}
						&:after{
							background-color: transparent !important;
							opacity: 0;
						}
			  		}
				}
				.inner{
					/*transition: 0.3s linear;*/
					&.show{
						margin-top: -1.5rem;
					}
					p{
						color: $white;
						a{
							color: $white;
							transition: 0.3s all;
							&:hover{
								color: $base;
							}
						}
					}
					ul{
						margin-bottom: 1rem;
						li{
							margin-bottom: 0;
							margin-top: 1rem;
							color: $white;
							font-family: $primaryFont;
							padding-left: 2rem;
							position: relative;
							&:before{
								content: "";
								position: absolute;
								width: 10px;
								height: 10px;
								border-radius: 50%;
								background: $white;
								left: 0;
								top: 5px;
								z-index: 1;
							}
						}
					}
					.TableBox{
						margin-bottom: 1rem;
						@media (max-width: 768px){
							max-width: 800px;
							overflow-x: scroll;
						}
						table{			
							/*border-collapse: separate;
							border-spacing: 0 2rem; */
							@media (max-width: 768px){
								table-layout: fixed;
								border-spacing: 0rem;
								border: thin solid #ccc;
							}
							thead{
								tr{
									border-bottom: none;
								}
							}
							tr{
								/*display: flex;*/
								border-bottom: 1px solid #ccc;
								@media (max-width: 768px){
									box-shadow: none;
									border-bottom: 0rem solid transparent;
								}
								td:not(:last-child){
									border-right: thin solid #ccc;
								}

								.Type,.Size,.Customers,.State{
									border-collapse: collapse;
									vertical-align: top;
									width: 35%;
									text-align: left;
									padding: 1.5rem 3rem;
									@media (max-width: 767px){
										padding: 1.5rem;
									}
									ul{
										li{
											color: $base;
											position: relative;
											padding-left: 2rem;
											&:before{
												content: "";
												position: absolute;
												width: 10px;
												height: 10px;
												border-radius: 50%;
												background: $orange;
												left: 0;
												top: 5px;
												z-index: 1;
											}
										}
									}
								}
								.Size{
									width: 30%;
								}
								.Customers{
									width: 35%;
								}
								.State{
									width: 20%;
								}
							}
							th{			
								background-color: $base;
								font-size: 1.8rem;
								color: $white;
								font-family: $semiBold;
							}
							td{
								background-color: $white;
								font-size: 1.8rem;
								color: $base;
								font-family: $semiBold;
								word-wrap: break-word;
							}
						}
					}
				}
			}
		}

			ul li .inner {
			  padding: 1.5rem 2.5rem;
			  overflow: hidden;
			  display: none;
			  background: $gradientBg;
			  p{
			  	color: $white;
			  	&:last-child{
			  		margin-bottom: 0;
			  	}
			  }
			}

		}
	}
}


