.ArticlesSection{
	.TopHeading{
		margin-bottom: 0rem;
		@media(min-width: 768px){
			margin-bottom: 1rem;
		}
	}
	.ArticlesBlock{
		padding: 0 3rem;
		margin-bottom: -2rem;

	    .slick-arrow{
	    	width: 25px;
	    	height: 47px;
	    	z-index: 9;
	    	@media (max-width: 767px){
	    		background-size: 50% !important;
	    		height: 25px;
	    	}
	    	&:before{
	    		font-size: 0;
	    	}
	    	&.slick-prev{
	    		background: url(../img/article-left-arw.svg) no-repeat;
	    		left: -38px;
	    		@media (max-width: 767px){
	    			left: -30px;
	    		}
	    	}
	    	&.slick-next{
	    		background: url(../img/article-right-arw.svg) no-repeat;
	    		right: -38px;
	    		@media (max-width: 767px){
	    			right: -43px;
	    		}
	    	}
	    }
		.slick-slide {
		    margin: 0 25px;
			
			@media (min-width: 1024px){
				min-height: 424px;
			}
			@media (min-width: 1280px){
				min-height: auto;
			}
		}
		/* the parent */
		.slick-list {
		    margin: 0 -25px;
		    padding: 2rem 0;
		    @media (max-width: 767px){
		    	padding: 0 0 2rem;
		    }
		}
		.Cards{
			box-shadow: 0px 3px 20px #0000001A;
			height: 350px;
			margin-top: 1.5rem;
			@media(min-width: 768px){
				height: 375px;
				margin-top: 0;
			}
			@media(min-width: 1024px){
				height: 100%;
				margin-top: 0;
			}
			.TopImg{
				height: auto !important;
				@media(min-width: 768px){
					height: auto !important;
				}
				@media(min-width: 1024px){
					height: 275px !important;
				}
				img{
					width: 100%;
					display: block;
					height: 100%;
				}
			}
			.BottomContent{
				padding: 2rem 1.5rem;
				background-color: $white;
				@media(min-width: 768px){
					padding: 3rem 3rem;
				}
				h4{
					margin-bottom: 1.5rem;
					min-height: auto;
					font-size: 1.8rem;
					@media(min-width: 768px){
						min-height: 57px;
						font-size: 2rem;
						margin-bottom: 3rem;
					}
					@media(min-width: 1024px){
						font-size: 2rem;
					}
					@media(min-width: 1280px){
						font-size: 2.4rem;
					}
				}
				.OrangeYellowButton{
					text-transform: uppercase;
					display: inline-block;
				}
			}
		}
	}
}


.ProjectsPipelineTables{
	position: relative;
	padding-bottom: 14rem;
	@media(min-width: 768px){
		padding-bottom: 17rem;
	}
	.TopHeading{
		margin-bottom: 1rem;
		@media(min-width: 768px){
			margin-bottom: 1rem;
		}
	}
	.PipelineProjects{
		margin-top: -2rem;
		@media(min-width: 768px){
			margin-top: -1.5rem;
		}
		.row{
			margin-right: -15px;
			margin-left: -15px;
			.col-12{
				padding-right: 15px;
				padding-left: 15px;
			}
			.Cards{
				margin-top: 3rem;
				box-shadow: 0px 5px 10px #0000001A;
				/*height: 100%;*/
				@media(min-width: 768px){
					margin-top: 3rem;
				}
				.TopImgBlock{
					img{
						width: 100%;
						display: block;
					}
				}
				.TopOrangeHeading{
					padding: 2rem;
					position: relative;					
					background: $gradientBg;
					display: flex;
				    flex-direction: column;
				    align-items: flex-start;
				    justify-content: center;
				    min-height: auto;
					@media(min-width: 768px){
						padding: 1rem;
						min-height: 90px;
					}
					@media(min-width: 1024px){
						padding: 2rem;
						min-height: 140px;
					}
					@media(min-width: 1280px){
						padding: 2.5rem;
					}
					&:before{
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						z-index: -1;
					}
					h4{
						margin-bottom: 0;
						color: $white;
						font-family: $semiBold;
						font-size: 2rem;
						@media(min-width: 768px){
							font-size: 1.2rem;
						}
						@media(min-width: 1280px){
							font-size: 1.75rem;
						}
						&.FullwidthHeading{
							font-size: 2.2rem;
							@media(min-width: 768px){
								font-size: 2.2rem;
							}
							@media(min-width: 1280px){
								font-size: 2.4rem;
							}
						}
					}
					.EnergyState{
						list-style: none;
						margin: 1.5rem 0 0;
						padding: 0;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						li{
							display: flex;
							align-items: center;
							justify-content: flex-start;
							img{
								margin-right: 1rem;
							}
							span{
								font-size: 1.4rem;
								color: $white;
								font-family: $semiBold;
								@media(min-width: 768px){
									font-size: 1rem;
								}
								@media(min-width: 1280px){
									font-size: 1.6rem;
								}
							}
						}
					}
				}
				.BottomWhiteContent{
					padding: 2rem;
					background-color: $white;
					/*height: calc(100% - 175px);*/
					min-height: auto;
					@media(min-width: 768px){
						min-height: 190px;
						padding: 1rem;
					}
					@media(min-width: 1024px){
						padding: 2rem;
						min-height: 180px;
					}
					@media(min-width: 1280px){
						padding: 3rem 2.5rem;
						min-height: 175px;
					}
					h5{
						font-size: 2rem;
						color: $base;
						margin-bottom: 0rem;
						font-family: $semiBold;
					}
					p{
						margin-bottom: 2rem;
						line-height: 1.7;
						&:last-child{
							margin-bottom: 0rem;
						}
						a{
							color: $orange;
							border-bottom: thin solid $orange;
							text-decoration: none;
						}
					}
					.CircleBullet{
						li{
							line-height: 1.75;
							margin-bottom: 1.5rem;
							&:last-child{
								margin-bottom: 0;
							}
						}
						&.HalfWidthContent{
							display: flex;
							align-items: center;
							justify-content: flex-start;
							flex-wrap: wrap;
							li{
								flex-basis: 100%;
								margin-bottom: 0rem;
								margin-top: 1.5rem;
								&:last-child{
									margin-bottom: 0rem;
								}
								@media(min-width: 1024px){
									flex-basis: 50%;
								}
							}
						}
					}
					&.Fullwidthcontent{
						min-height: auto;
						@media(min-width: 768px){
							min-height: auto;
						}
						@media(min-width: 1024px){
							padding: 3rem;
							min-height: auto;
						}
						@media(min-width: 1280px){
							padding: 3rem 2.5rem;
							min-height: auto;
						}
					}
				}
			}
			.loadMoreBtn{
				position: absolute;
				bottom: 7rem;
				left: 0;
				right: 0;

				margin: 0 auto 0;
				text-transform: uppercase;
				padding: 1.6rem 4rem 1.3rem;
			    transition: all 0.6s ease-in-out;
			    text-decoration: none;
			    color: #fff;
			    font-weight: 600;
			    font-size: 1.4rem;
			    /*position: relative;*/
			    max-width: 175px;
			    background: linear-gradient(270deg, #FBE10E -90%, #F3763E 35%) 0% 0% no-repeat padding-box;
			    @media(max-width: 767px){
			        padding: 1.2rem 3rem 1rem;
			        bottom: 5rem;
			    }
			    span{
			    	position: relative;
			    	z-index: 9;
			        color: $white;
			    }
			    
			    &:hover{
			        background: transparent linear-gradient(91deg, #fbe10e, #f3763e) 0 0 no-repeat padding-box;
			    }
			}
		}
	}
		
}

.TopContentWithGallery{
	.TopHeading{
		margin-bottom: 0rem;
		@media(min-width: 768px){
			margin-bottom: 1.5rem;
		}
	}
	.TopContentBox{
		.row{
			margin-right: -11px;
    		margin-left: -11px;
    		.col-12{
    			padding: 0 11px;
    			margin-bottom: 3rem;
    			@media(max-width: 767px){
    				&:last-child{
    					margin-bottom: 0;
    				}
    			}
    		}
		}
		.Content{
			
			h2{
				font-size: 3.4rem;
				margin-bottom: 3rem;
				@media(max-width: 767px){
					text-align: center;
					font-size: 2.3rem;
					display: block;
					margin-top: 3rem;
				}
				br{
					display: none;
					@media(max-width: 767px){
						display: block;
					}
				}
			}
			p{
				line-height: 1.7;
				@media(max-width: 767px){
					text-align: center;
					margin-bottom: 0;
				}
				span{
					font-family: $semiBold;
				}
				a{
					color: $orange;
					text-decoration: underline;
					transition: 0.3s all;
					&:hover{
						color: $base;
					}
				}
			}
			img{
				width: 100%;
				display: block;
			}
		}
	}
	.GalleryBox{
		.row{
			
    		@media(max-width: 767px){
    			margin-right: -5px;
    			margin-left: -5px;
    		}
    		.col-6{
    			@media(max-width: 767px){
	    			padding: 0 5px;
	    		}
    		}
		}
		.magnific-img{
			position: relative;
			margin-top: 1rem;
			.image-popup-vertical-fit{
				display: block;
				position: relative;
				z-index: 99;
				transition: 0.75s linear;
				&:before{
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					margin: 0 auto;
					background-color: rgba($base, 0.75);
					opacity: 0;
					visibility: hidden;
					transform: scale(0);
					transition: 0.75s linear;
				}
				&:after{
					content: "";
					position: absolute;
					width: 62px;
					height: 62px;
					left: 0;
					top: 35%;
					bottom: 0;
					right: 0;
					margin: 0 auto;
					background: url(../img/zoom.svg) 0 0 no-repeat;
					opacity: 0;
					visibility: hidden;
					transform: scale(0);
					transition: 0.75s linear;
				}
				&:hover{
					&:before,&:after{
						opacity: 1;
						visibility: visible;
						transform: scale(0.90);
					}
				}
				img{
					width: 100%;
					display: block;
				}
			}
		}
	}
}


.TestimonialSlider{
	padding-bottom: 6rem;
	@media(min-width: 768px){
		padding-bottom: 6.5rem;
	}
	.TopHeading{
		margin-bottom: 1rem;
		@media(min-width: 768px){
			margin-bottom: 1.5rem;
		}
	}
	.Slider{
		max-width: 1000px;
		margin: 0 auto;
		box-shadow: 0px 0px 20px #0000000D;
		background: $white;
		text-align: center;
		&:hover{
			.testimonialslider{
				.slick-arrow{
					opacity: 1;
				}
			}
		}
		.testimonialslider{
			.slick-arrow{
		    	width: 60px;
		    	height: 60px;
		    	border-radius: 50%;
		    	box-shadow: 0px 0px 15px #0000000D;
		    	opacity: 1;
		    	top: 100%;
		    	transition: 0.5s linear;
		    	@media(min-width: 768px){
		    		top: 50%;
		    		opacity: 1;
		    	}
		    	&:before{
		    		font-size: 0;
		    	}
		    	&.slick-prev{
		    		background: $white url(../img/left-orange-arw.svg) no-repeat;
		    		background-position: center;
		    		left: 10rem;
		    		@media(min-width: 400px){
		    			left: 12rem;
		    		}
		    		@media(min-width: 768px){
		    			left: -30px;
		    		}
		    	}
		    	&.slick-next{
		    		background: $white url(../img/right-orange-arw.svg) no-repeat;
		    		background-position: center;
		    		right: 10rem;
		    		@media(min-width: 400px){
		    			right: 12rem;
		    		}
		    		@media(min-width: 768px){
		    			right: -30px;
		    		}
		    	}
		    }
			.TestimonialBlock{

				padding: 6rem 1.5rem;
				@media(min-width: 768px){
					padding: 8rem 10rem;
				}
				.testimonial{
					line-height: 1.7;
					margin-bottom: 5rem;
					position: relative;
					&:before{
						content: "";
						position: absolute;
						left: 5px;
						top: -30px;
						background: url(../img/left-quote.svg) no-repeat;
						width: 28px;
						height: 23px;
						@media(min-width: 768px){
							left: -35px;
						}
					}
					&:after{
						content: "";
						position: absolute;
						right: 5px;
						bottom: -30px;
						background: url(../img/right-quote.svg) no-repeat;
						width: 28px;
						height: 23px;
						@media(min-width: 768px){
							right: -35px;
						}
					}
				}
				h4{
					font-size: 2rem;
					font-family: $semiBold;
					color: $base;
				}
				.designation{
					margin-bottom: 0;
					text-align:center;
					color: rgba($base, 0.6);
					/*span{
						text-transform: uppercase;
					}*/
				}
			}
		}
	}
}