.OverlapContentBlock{
	margin-top: 0rem;
	position: relative;
	z-index: 1;
	padding-bottom: 5rem;
	@media (min-width: 768px){
		padding-bottom: 20rem;
		margin-top: -8rem;
	}
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: $gradientBg;
		top: 0;
		left: 0;
		z-index: -1;
		@media (min-width: 768px){
			width: 92%;
		}
	}
	.BlogContent{
		max-width: 100%;
		@media (min-width: 768px){
			max-width: 75%;
		}
		h1{
			font-size: 2.4rem;
			font-family: $thinFont;
			color: $white;
			@media (min-width: 768px){
				font-size: 3.5rem;
			}
		}
		.authordate{
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			list-style: none;
			width: auto;
			li{
				font-size: 16px;
				color: $white;
				font-family: $primaryFont;
				margin-right: 4rem;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}


.SinglePostContent{
	margin-top: 5rem;
	position: relative;
	z-index: 1;
	@media (min-width: 768px){
		margin-top: 5rem;
	}
	@media (min-width: 1024px){
		margin-top: 0rem;
	}
	@media (min-width: 1280px){
		margin-top: -13rem;
	}
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: $white;
		top: 0;
		right: 0;
		z-index: -1;
		@media (min-width: 768px){
			width: 97%;
		}
		@media (min-width: 1024px){
			width: 95%;
		}
	}

	.ContentBlock{
		max-width: 800px;
		margin: 0 auto;
		font-size: 16px;
		color: $base;
		font-family: $secondaryFont;
		position: relative;
		.SocialIcons{
			position: absolute;
			top: -5rem;
			left: 0rem;
			@media (min-width: 768px){
				top: -5rem;
				left: 0rem;
			}
			@media (min-width: 1024px){
				top: 0rem;
    			left: -5rem;
			}
			@media (min-width: 1280px){
				top: 0rem;
				left: -10rem;
			}
			ul{
				list-style: none;
				margin: 0;
				padding: 0
			}
		}
		h4{
			font-size: 2rem;
			font-family: $primaryFont;
			color: $base;
			margin-bottom: 1.5rem;
			@media (min-width: 768px){
				font-size: 2.4rem;
			}
		}
		p{
			font-size: 16px;
			color: $base;
			line-height: 1.75;
			text-align: justify;
			margin-bottom: 1.35rem;
			a{
				color: $base;
				text-decoration: none;
				font-family: $primaryFont;
				transition: 0.3s all;
				&:hover{
					color: $orange;
				}
			}
		}
	}
}