.TopHeadingThreeCards{
	.TopHeading{
		margin-bottom: 2.5rem;
		@media(max-width: 768px){
			margin-bottom:0;
			text-align: left;
		}
	}
	.ThreeCardsWithIcon{
		.Cards{
			padding: 3rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			height: 100%;
			text-align: center;
			box-shadow: 0px 0px 20px #0000001A;
			background-color: $white;
			margin-top: 1rem;
			@media(max-width: 768px){
				margin-top: 1.5rem;
				height: auto;
			}
			.IconBox{
				width: 100px;
				height: 100px;
				background-size: cover;
				background: url(../img/rectangle.svg) no-repeat;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 2.5rem;
			}
			h4{
				font-size: 2.2rem;
				margin-bottom: 1rem;
			}	
			p{
				line-height: 1.7;
				margin-bottom: 0;
			}
		}
	}
}

.DarkBgSectionWithHeading{
	padding-bottom: 12rem;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		width: 218px;
		height: 102px;
		background: url(../img/white-element-btm.svg) no-repeat;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: -1px;
	}
	.TopHeading{
		h4{
			text-align: center;
			color: $white;
			font-size: 2.2rem;
			margin-bottom: 1rem;
		}
		h2{
			color: $white;
			@media(min-width: 768px){
				font-size: 2.4rem;
			}
			@media(min-width: 1024px){
				font-size: 3rem;
			}
			@media(min-width: 1280px){
				font-size: 3.5rem;
			}
		}
	}
}


.LifeCycleThreeCardsBlock{
	.TopImage{
		.lifecycle{
			width: 100%;
		}
	}

	.Lifecycle{
		position: relative;
		.Toparw{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			h4{
				font-size: 1.6rem;
				font-family: $semiBold;
				margin-bottom: 0px;
				color: $base;
			}
		}
		.BottomArw{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-top: 3rem;
			h4{
				font-size: 1.6rem;
				font-family: $semiBold;
				margin-bottom: 0px;
				margin-top: 0;
				color: $base;
			}
		}
		.LifecycleSlider{
			.slick-slide{
				padding: 5rem 0 8rem;

			}
			.Cards{

				&.lifecycle{
					position: relative;
					&:before{
						content: "";
						position: absolute;
						width: 260px;
						height: 54px;
						background: url(../img/land-arrow.png) no-repeat;
						top: -50px;
					    background-size: contain;
					    left: 0;
					    right: 0;
					    margin: 0 auto;
					}
					&:after{
						content: "";
						position: absolute;
						width: 320px;
						height: 55px;
						background: url(../img/financing-arrow.png) no-repeat;
						bottom: -75px;
					    background-size: contain;
					    left: 0;
					    right: 0;
					    margin: 0 auto;
					}
				}
				.topBlock{
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-wrap: wrap;
					p{
						flex-basis: 50%;
						padding: 1.5rem;
						margin-bottom: 0;
						font-family: $semiBold;
						color: $base;
					}
				}
				.bottomBlock{
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					flex-wrap: wrap;
					background: linear-gradient(360deg, #fbe10e -10%, #f3763e 35%) 0 0 no-repeat padding-box;
					position: relative;
					z-index: 1;
					@media (max-width: 767px){
						min-height: 140px;
					}
					&:after{
								content: "";
								position: absolute;
								background: url(../img/right-gredient.png) no-repeat;
								width: 47px;
								height: 140px;
								top: 0px;
								right: 0;
								z-index: -1;
								background-size: cover;
							}
					p{
						/*flex-basis: 50%;*/
						padding: 1.5rem;
						margin-bottom: 0;
						color: $white;
						font-family: $mediumFont;
						font-size: 1.4rem;	
						background-size: cover;
						&.leftbox{		
							flex-basis: 50%;					
							position: relative;
							z-index: 1;				
							&:before{
								content: "";
								position: absolute;
								background: url(../img/white-arrow.png) no-repeat;
								background-size: cover;
								width: 52px;
								height: 140px;
								top: 0px;
								right: 0;
							}
						}	
						&.rightbox{
							flex-basis: 50%;
							/*background: url(../img/right-bg.png) no-repeat;	*/
							/*position: relative;
							z-index: 1;
							&:after{
								content: "";
								position: absolute;
								background: url(../img/right-gredient.png) no-repeat;
								width: 45px;
								height: 135px;
								top: -11px;
								right: 0;
								z-index: -1;
								background-size: cover;
							}*/
						}
					}
				}
			}
			.slick-dots{
				li{
					width: 10px;
					height: 10px;
					button{
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: $white;
						border: thin solid $orange;
						&:before{
							display: none;
						}
					}
					&.slick-active{
						button{
							background-color: $orange;
							border: thin solid transparent;
						}
					}
				}
			}
		}
	}
	
	.ThreeCardsBlock{
		margin-top: 3rem;
		.CardsBlock{
			margin-top: 2rem;
			height: 100%;
			.LeftIconRightContent{
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				.icon{
					width: 80px;
					height: 80px;
					background: url(../img/rectangle.svg) no-repeat;
					background-size: cover;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 1.5rem;
					border-radius: 3px;
					img{
						display: block;
					}
				}
				h4{
					font-size: 2rem;
					color: $base;
					font-family: $semiBold;
					span{
						font-family: $primaryFont;
						font-size: 1.6rem;
					}
				}
			}
			.BtmBoxBorder{
				position: relative;
				padding: 3rem;
				height: calc(100% - (125px));
				/*min-height: auto;*/
				margin-top: 1.4rem;
				overflow: hidden;
				@media(min-width: 768px){
					margin-top: 3rem;
					/*min-height: 705px;*/
					padding: 1rem;
				}
				@media(min-width: 1024px){
					margin-top: 3rem;
					/*min-height: 585px;*/
					padding: 3rem;
				}
				@media(min-width: 1299px){
					margin-top: 3rem;
					/*min-height: 490px;*/
				}
				&:before{
					content: "";
					position: absolute;
					width: 99%;
					height: 99%;
					border: thin solid $orange;
					top: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
				}
				p{
					line-height: 1.7;
					margin-bottom: 1rem;
					font-family: $mediumFont;
					font-size: 1.6rem;
					strong{
						font-family: $semiBold;
					}
				}
				ul{
					padding: 0;
					margin: 0;
					list-style: none;
					li{
						padding-left: 2rem;
						position: relative;
						color: $base;
						font-size: 1.6rem;
						font-family: $mediumFont;
						margin-bottom: 1rem;
						&:last-child{
							margin-bottom: 0;
						}
						&:before{
							content: "";
							position: absolute;
							width: 8px;
							height: 8px;
							background-color: $orange;
							border-radius: 50%;
							left: 0;
							top: 7px;
						}
					}
				}
			}
		}
	}
}

.FourCardBlock{
	padding-bottom: 7rem;
	@media(max-width: 768px){
		padding-bottom: 5rem;
	}
	.TopHeading{
		margin-bottom: 1rem;
		@media(max-width: 768px){
			margin-bottom: 0;
		}
	}
	.row{
		margin-right: -7px;
    	margin-left: -7px;
    	.col-6{
    		padding-right: 7px;
    		padding-left: 7px;
    	}
	}
	.FourCardWithLink{
		a{
			width: 100%;
			display: block;
			padding: 3rem 2rem;
			box-shadow: 0px 5px 10px #0000000D;
			margin-top: 1rem;
			background: transparent linear-gradient(91deg, #fff 0%, #fff 100%) 0% 0% no-repeat padding-box;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			text-decoration: none;
			font-size: 1.8rem;
			font-family: $mediumFont;
			color: $base;
			height: 90%;
			position: relative;
			transition: 0.3s linear;
			@media(max-width: 767px){
				margin-top: 3rem;
				height: auto;
    			min-height: 180px;
    			font-size: 1.6rem;
			}
			@media(min-width: 768px){
				font-size: 1.6rem;
			}
			@media(min-width: 1024px){
				font-size: 1.8rem;
			}
			&:hover{
				background: $gradientBg;  
				color: $white;
				span{
					opacity: 1;
					visibility: visible;
					transform: scale(1);
				}
			}
			span{
				position: absolute;
				bottom: -2rem;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 44px;
				height: 44px;
				background-color: $white;
				border-radius: 50%;
				box-shadow: 0px 0px 10px #0000001A;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0;
				visibility: hidden;
				transition: 0.3s linear;
				transform: scale(0);
			}
		}
	}
}


.ThreeServiceCardsBlock{
	position: relative;
	padding-bottom: 9rem;
	@media(max-width: 767px){
		padding-bottom: 5rem;
	}
	@media(min-width: 768px){
		padding-bottom: 7rem;
	}
	@media(min-width: 1024px){
		padding-bottom: 9rem;
	}
	/*&:after{
		content: "";
	    position: absolute;
	    width: 100%;
	    height: 40%;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    background-color: rgba(254,240,231,0.5);
	    z-index: -1;
	}*/
	.TopHeading{
		margin-bottom: 1rem;
		@media(max-width: 768px){
			margin-bottom: 0;
		}
	}
	.ThreeServiceCards{
		.IconCards{
			background-color: $white;
			box-shadow: 0px 0px 20px #0000001A;
			padding: 3rem 1.5rem;
			height: unset;
			margin-top: 1.5rem;
			@media(min-width: 768px){
				height: 100%;
				margin-top: 1.5rem;
			}
			@media(min-width: 1024px){
				height: 100%;
			}
			@media(min-width: 1299px){
				height: 100%;
			}
			@media(min-width: 1440px){
				height: 100%;
			}
			img{
				margin: 0 auto 1.5rem;
				display: block;
			}
			h4{
				font-size: 1.6rem;
				font-family: $semiBold;
				color: $base;
				text-align: center;
				line-height: 1.5;
			}
			ul{
				padding: 0 0 0 1.5rem;
				margin: 0;
				list-style: none;
				li{
					padding-left: 2rem;
					position: relative;
					color: $base;
					font-size: 1.6rem;
					font-family: $secondaryFont;
					margin-bottom: 1rem;
					&:last-child{
						margin-bottom: 0;
					}
					&:before{
						content: "";
						position: absolute;
						width: 8px;
						height: 8px;
						background-color: $orange;
						border-radius: 50%;
						left: 0;
						top: 7px;
					}
				}
			}
		}
	}
}