.TeamCardsBlock{
	.TopHeading{
		margin-bottom: 0rem;
		@media(min-width: 768px){
			margin-bottom: 1.5rem;
		}
	}
	.TeamCards{
		.row{
			justify-content: center;
		}
		.Cards{
			display: block;
			background-color: $white;
			text-decoration: none;
			text-align: center;			
			height: 95%;
			transition: 1.5s all;
			.TopImg{
				position: relative;
				transition: 0.5s all;
				margin-top: 1.5rem;
				@media(min-width: 768px){
					margin-top: 2rem;
				}
				.OnHoverBox{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					padding: 2rem;
					width: 100%;
					height: 100%;
					background: $gradientBg;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					opacity: 0;
					visibility: hidden;
					/*transform: scale(0);*/
					transition: 1s all;

					h5{
						font-size: 2.2rem;
						color: $white;
						font-family: $semiBold;
						margin-bottom: 1.5rem;
					}
					.btn{
						background: $white;
						padding: 1.5rem 3rem;
						color: $base;
						font-size: 1.2rem;
						font-family: $semiBold;
						text-transform: uppercase;
						text-decoration: none;
						opacity: 0;
						visibility: hidden;
						transition: 1.5s all;
						&:hover{
							background: $GreyBg;
							color: $white;
						}
					}
				}
				img{
					width: 100%;
					display: block;
				}
			}
			.TitleHead{
				padding: 2rem;
				h4{
					font-size: 2.4rem;
					font-family: $semiBold;
					@media(min-width:768px){
						font-size: 1.8rem;
					}
					@media(min-width:1024px){
						font-size: 2.4rem;
					}
				}
				p{
					margin-bottom: 0;
					text-align: center;
				}
			}		

			&:hover{
				.TopImg{
					.OnHoverBox{
						transform: scale(1);
						width: 100%;
						opacity: 1;
						visibility: visible;
						.btn{
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}
}


.white-popup {
	position: relative;
	background: #FFF;
	padding: 40px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	transition: 1s all;
	button.mfp-close{
		font-size: 0;
		background: url(../img/close.svg) no-repeat, transparent linear-gradient(180deg, #FDC60B 0%, #F2773F 100%) 0% 0% no-repeat padding-box;
		background-position: center;
		opacity: 1;
		border-radius: 0;
		&:hover{
			opacity: 0.65;
		}
	}
	h4{
		font-size: 2.2rem;
		font-family: $semiBold;
		color: $base;
	}
	p{
		span{
			font-style: italic;
		}
	}
	.CircleBullet{
		list-style: none;
		margin: 0;
		padding: 1rem 0 0;
		border-top: thin solid rgba($base, 0.25);
		li{
			padding-left: 1.5rem;
			position: relative;
			font-family: $primaryFont;
			color: $base;
			font-size: 1.6rem;
			&:before{
				content: "";
				position: absolute;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: $orange;
				top: 7px;
				left: 0;
			}
		}
	}
	.TriBullet{
		list-style: none;
		margin: 1rem 0 0;
		padding: 0;
		li{
			padding-left: 1.6rem;
			position: relative;
			font-family: $primaryFont;
			color: $base;
			font-style: italic;
			font-size: 1.6rem;
			&:before{
				content: "";
				position: absolute;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: url(../img/tribullet.svg) 0 0 no-repeat;
				background-size: 100%;
				top: 6px;
				left: 0;
			}
		}
	}
}


.CircleBullet{
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		padding-left: 1.5rem;
		position: relative;
		font-family: $primaryFont;
		color: $base;
		margin-bottom: 1rem;
		font-size: 1.6rem;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			content: "";
			position: absolute;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background-color: $orange;
			top: 7px;
			left: 0;
		}
	}
}